*.wl1
*.o
build_grstarts
grstarts.c
build_huffman
huffman.h
build_mapdata
mapdata.c
build_mapheaders
mapheaders.c
build_pagemap
pagemap.c
build_pal4bit
pal4bit.c
build_sprites
sprites.c
build_tables
tables.c
build_walls
walls.c
ewolf3d_rev*
sdlwolf3d

